/* Mobile & Tablet */

@media screen and (max-width: 1325px) {
  header ul.first_ul a{
    padding: 15px 15px;
  }

}

@media screen and (max-width: 1260px) {

  header .nav_bar .logo {
    width: 160px;
  }

  header .nav_bar .bar_btn span {
    font-size: 25px;
  }

  .type_tour_content .text h3 {
    font-size: 30px;
  }

  .type_tour_content img {
    width: 40px;
    height: 40px;
}
}






@media screen and (max-width: 1185px) {
  header ul.first_ul a{
    padding: 15px 12px;
  }
}

@media screen and (max-width: 1120px) {
  header ul.first_ul a{
    padding: 15px 10px;
  }

  header .nav_bar .bar_btn span {
    font-size: 22px;
  }

  header .nav_bar .logo {
    width: 130px;
  }
}

@media screen and (max-width: 1023px) {
  header .nav_bar .nav_list-ngang  {
    display: none;
  }

  .header_content form select {
    width: 40%;
  }

  .header_content form .icon_search {
    right: 33%;
  }
}


@media screen and (max-width: 992px) {
  .search_aside .item_wrap 
  {
    margin-top: 30px;
  }

  .package_list .item3,
  .package_list .item4,
  .package_list .item5,
  .package_list .item6 {
    margin-top: 30px;
  }

}



@media screen and (max-width: 768px) {
  .package_list .item1,
  .package_list .item2,
  .package_list .item3,
  .package_list .item4,
  .package_list .item5,
  .package_list .item6 {
    margin-top: 30px;
  }

  header .header_content .search_aside a {
    height: 75px;
  }

  header .header_content .search_aside img {
    width: 9%;
    height: 50%;
  }

  .header_content form {
    margin-bottom: 1rem;
}

header .header_content {
  margin-top: 4rem;
}

.header_content form select {
  width: 55%;
}

.header_content form .icon_search {
  right: 27%;
}

}



/* -----MOBILE------- */

@media screen and (max-width: 576px) {
  main {
    width: 100% important;
  }
  
  header .nav_bar {
    padding: 20px 0;
  }

  .header_content form select {
    width: 70%;
  }
  
  .header_content form .icon_search {
    right: 20%;
  }

  header .header_content .content_text h2 {
    font-size:25px;
  }

  .header_content .content_text p {
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 7px;
  }
}