





/* --------START MY WEBSITE---------- */


main {
    width: 100% !important;
}

.my_container{
    max-width: 80%;
    margin: 0 auto;
}




/* ----------HEADER---------- */

/* ----NAVIGATION---- */
main.wrapper header {
    background: url(../images/london.jpg);
    width: 100vw;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header .bgColor_header {
    background-color: rgba(0, 0, 0, 0.2);
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100; */
}

 header .nav_bar {
   
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 0;
   
}

header .nav_bar .nav_list-ngang{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

header .nav_bar .logo {
    width: 200px;
}


header ul.first_ul a{
 text-transform: uppercase;
 padding: 15px 20px;
 color: var(--white-color);
}
header ul.first_ul .booking_item {
    background-color: var(--purple-color);
    border-radius: 100px;
}

header .nav_bar .bar_btn span {
    color: var(--white-color);
    font-size: 30px;

}

/* ----SUBMENU 1---- */


header .nav_bar .navbar_item ul.sub_nav_1 {
    display: none;
}

.nav_bar .navbar_item:hover ul.sub_nav_1  {
    display: block;
    /* -webkit-animation: fadeIn ease-in 0.4s;
    animation: fadeIn ease-in 0.4s; */
}



header .nav_bar .navbar_item {
    position: relative;
}


header .nav_bar .navbar_item .nav_list_doc {
   
    min-width: 180px;
    box-shadow: 0 0 2px #ccc;

    -webkit-animation: fadeIn ease-in 0.4s;
    animation: fadeIn ease-in 0.4s;
}



.nav_bar .navbar_item .sub_nav_1 {
    position: absolute;
    top: 35px;
    left: 0;
    min-width: 180px;
    box-shadow: 0 0 2px #ccc;
    background-color: var(--white-color);

   
}

.nav_bar .navbar_item .subnav_item_link {
    text-transform: capitalize;
    color: var(--text-color);
    padding: 10px 20px;
    
    display: block;
    font-size: 1.2rem;
}

.nav_bar .navbar_item .subnav_item_link:hover {
    background-color: #ececec;

}


.nav_bar .navbar_item .subnav_item {
    position: relative;
    border-bottom: 1px solid #dfdedee3;

    background-color: var(--white-color);


    
}

.subnav_item--new::after, .subnav_item--best::after, .subnav_item--hot::after {
    text-transform: uppercase;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding: 2px 5px;
    border-radius: 4px;
    letter-spacing: 1px;
}


.nav_bar .navbar_item .subnav_item--hot::after {
    content: "HOT";
    background-color: var(--red-color);
    font-size: 12px;
}

.nav_bar .navbar_item .subnav_item--more::after {
    content: "";
    border: 6px solid;
    border-color: transparent transparent transparent #9a9a9a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.nav_bar .subnav_item--more {
    position: relative;
}

/* ----SUBNAV 2--- */



.nav_bar .subnav_item--more ul.sub_nav_2 {
    position: absolute;
    top: 0;
    left: 100%;
    list-style: none;
    padding-left: 10px;
    box-shadow: 0 0 2px #ccc;
    display: none;
}

.nav_bar .subnav_item--more:hover > ul.sub_nav_2 {
    display: block;
}

/* -X---NAVIGATION--X-- */

/* ----HEADER CONTENT--- */

header .header_content {
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .header_content {
    text-align: center;
    width: 100%;
}
header .header_content .content_text {
    color: var(--white-color);
    padding-bottom: 2rem;

}


.header_content .content_text p {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 5px;
}

.header_content form select {
    width: 30%;
    padding: 10px 20px;
    border-radius: 20px;
    color: #a3a3a3;
    cursor: pointer;

    outline: none;

    /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

.header_content form {
    position: relative;
    margin-bottom: 3rem;

}
.header_content form .icon_search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 38%;

    color: #a3a3a3;

}

header .header_content .search_aside p {
    color: white;
}

header .header_content .item_wrap {
    /* padding: 10px 20px; */
}

header .header_content .search_aside a {

    background-color: rgba(0, 0, 0, 0.2);
    display: block;
    padding: 12px 0;
}

header .header_content .search_aside img {
    width: 45%;
    height: 45%;
}




/* --X--HEADER CONTENT--X- */


/* --------DESTINATION SECTION-------- */

.destination_section .package_list .package {
    position: relative;
}

.destination_section .package_list .package .package_content {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 0;
    bottom: 25px;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 2;

    color: var(--white-color);


}

.package_list .item4,
.package_list .item5,
.package_list .item6 {
  margin-top: 30px;
}


.package_list .package .package_content img.package_icon {
    width: 10%;
}

.package .package_content .content_text h5 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    letter-spacing: 2px;
}

.package .package_content p {
    text-transform: uppercase;
}

.package_list .package::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;

    background: linear-gradient( to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.5) 100% );
    opacity: 1;
 
}


.package_list .package .blue_content {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--blue-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.5s linear;
}

.package_list .package .blue_content .package_btn_link {

text-decoration: none;
color: var(--blue-color);
padding: 7px 20px;
background-color: var(--white-color);
border-radius: 30px;

}

.package .blue_content a {
    padding: 5px 0;
    color: white;
}

.package_list .package:hover .blue_content {
    opacity: 1;
    /* visibility: visible; */

    transition: opacity ease-out 0.6s;
}


/* -----X---DESTINATION SECTION-----X--- */

/* -----------BANNER SECTION---------- */


section.banner {

    margin-top: 5rem;

    background-image: url(../images/golden-gate.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: var(--white-color);

    display: flex;
    align-items: center;
    justify-content:center;

    
}

section.banner h3 {
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 800;
    line-height: 70px;
}

section.banner .banner_view_btn {
    padding-left: 100px;

}


section.banner a {
    color: var(--btn-color);
    display: block;
    padding: 10px 25px;
    background-color: var(--white-color);
    border-radius: 20px;

    font-weight: 700;
    letter-spacing:3px;
    
}





/* ----X-------BANNER SECTION------X---- */


/* -------BEST BEACHES SECTION------ */
section.best_beaches {
    margin-top: 5rem;
}


section.best_beaches .title {
    margin: 0;
}


.best_beaches .text_content .prices_list .price--bricked {
    color: #dadada;
    text-decoration: line-through;
}

.best_beaches .text_content .prices_list{
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0;
}

.price--per-person::before{
    content: "/";
    font-size: 30px;

}

.price--per-person {
    font-size:20px;
    color: var(--text-color-black);

}


.text_content .booking_btn {
    --btn-color: var(--green-color);
    color: white;
}


.text_content .booking_btn:hover {
    opacity: 0.8;
}


.best_beaches .mySlide-container {
    position: relative;
    overflow-x: hidden;
}

.best_beaches .mySlide-container {
    width: 100%;
    height: 100%;
}

.best_beaches .mySlide-container .mySlide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    left: 100%;
    transition: linear 0.5s 0.5s;
    /* opacity: 0; */
}

[id^="slide"]:checked + .mySlide {
    /* opacity: 1; */
    left: 0;
    transition: all 0.5s ease-in;
}

.mySlide-container .mySlide-container-btn label {
    display: inline-block;
    width: 60px;
    height: 4px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    transition: transform 0.5s;
}

.mySlide-container .mySlide-container-btn label:hover {
    transform: scale(1.2);
}

.mySlide-container .mySlide-container-btn {
    position: absolute;
    z-index: 5;
    top: 20px;
    left:0;
    width: 100%;

    display: flex;
    justify-content:center;
}


/* ---COUNT_DOWN---- */
.count_down_list{
position: absolute;
bottom: -42px;
left: 50%;
width: 60%;
transform: translateX(-50%);
display: flex;

padding: 15px 0px;

background-color: var(--blue-color);
}
.count_down_item{
    /* width: 25%; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.count_down_item::after {
    content: "/";
    font-size: 30px;
    color: var(--text-color-black);

    position: absolute;
    left: 96%;
}


.count_down_item.no_line::after {
    content: "";
}

/* ---x----BEST BEACHES SECTION----x-- */

/* --- ------TYPE TOUR SECTION------ --> */


section.type_tour {
    margin-top: 8rem;
}

.type_tour .type_tour_content {
    display: flex;
}

.type_tour_content img {
    width: 50px;
    height: 50px;
}

.type_tour_content .text {
    padding: 0 20px;
}

.type_tour_content .text h3 {
    font-size:40px;
    font-weight: 700;
    color: var(--heading-color);
    text-transform: capitalize;
}

.type_tour_content .text p {

    font-size: 15px;
    color: var(--text-color);
    font-weight: 400;
    line-height:1.4
}


.type_tour_content .text a {

    color: var(--blue-color);
}

/* ---x ------TYPE TOUR SECTION------x --> */



/* -- ------DISCOVER SECTION-------- -- */
section.discover {
    margin-top: 6rem;
    color: white;
}

section.discover .col-6 {
    padding: 0 !important;
}

section.discover .discover_content {
  
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover .discover_content  p {
    font-size:20px;
    text-transform: uppercase;

}

.discover .discover_content h3 {
    padding: 10px 0 25px 0;
    font-weight: 900;
}

.discover .discover_content .discover_btn {
    --btn-color: var(--white-color);
    color: var(--orange-color);

}

/* -- X------DISCOVER SECTION-------- X-- */


/* -- -----PACKAGE SECTION--------- -- */

section.package {
    margin-top: 6rem;
}




.package_list .package_item_content {
    box-shadow: 0 0px 5px 1px rgb(0 0 0 / 10%);
    color: var(--heading-color);
}


.package_list .package_item_content h4 {
    color: var(--heading-color);


}


.package_list .package_item_content a {
    color: var(--text-color);
}

.package_list .package_item_content .package_detail {
    padding: 25px 25px 38px 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.package_item_content .package_detail a.package_icon_img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -24px;
    right: 28px;
    padding: 12px;
    border-radius: 50%;
    background-image: var(--color);
}


.package_item_content .package_detail .package_detail_line {

    padding: 20px 0;
    text-transform: capitalize;
    border-bottom: 1px solid #cac6c6;
}

.package_item_content .package_head {

}

.package_item_content .package_infor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.package_item_content .package_infor span:last-child {
    padding: 0px 12px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: var(--color);
    color: var(--white-color);

    font-size:15px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.package_item_content .package_infor p {
    color: var(--heading-color);
    font-size: 30px;
}

.package_item_content .package_footer {
    
}

.package_item_content .package_footer {
    padding-top: 20px;
}

.package_item_content .package_footer p {
    margin-bottom: 20px;
    color: var(--text-color);
}

.package_item_content .package_footer a {
    background-image: var(--color)
}

.package_item_content .package_footer .package_btn {
    color: var(--white-color);
}

/* --X -----PACKAGE SECTION--------- X-- */


/* ----------------FOOTER--------------- */

footer p, footer span, footer li a{
    color: var(--text-color);
}

footer {
    margin-top: 5rem;
    background-image: url(../images/footer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .keep_in_touch {
    align-items: center;

}

footer .keep_in_touch .footer_heading h3 {
    color: var(--heading-color);
    font-size: 40px ;
}

.keep_in_touch .footer_heading p {
    color: var(--text-color);
}


.keep_in_touch form input {
    padding: 10px 20px;
    width: 70%;
    border-radius: 30px;
    outline: none;
    border: none;
}

.keep_in_touch form button {
    padding: 10px 22px;
    border-radius: 30px;
    text-align: center;
    outline: none;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    margin-left: 15px;
}

footer .footer_body {
    background-color: var(--white-color);
    padding: 35px 30px;
    margin-top: 35px;
}

footer .footer_body .footer_body_left img {
    width: 150px;

}

.footer_body .footer_body_left p {
    padding: 20px 0;
}

.footer_body .footer_body_left span {
    font-size: 25px;
    padding: 0 6px;
    color: var(--heading-color);

}

.footer_body .footer_body_right .footer_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer_body .footer_body_right h3 {
    color: var(--heading-color);
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.footer_body .footer_body_right .footer_item li {
    padding: 3px 0;
    transition: transform 0.5s;
}

.footer_body_right .footer_item li:hover,
.footer_body_right .footer_item li:hover a {
 
    transform: translateX(6px);
    color: var(--text-color);
}

.footer_body_right .footer_item li i {
    font-size:14px;
    color: var(--text-color);
    padding-right: 6px;
}

footer .copy_right {
    background-color: var(--blue-color);
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copy_right a {
    transition: color 0.2s;
}

footer .copy_right a:hover {
    color: var(--red-color);
}

/* -------X---------FOOTER--------X------- */



/* -----------SMALL-MENU-RIGHT------------ */

.small_menu {
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    overflow-y: scroll;
    background-color: var(--white-color);
    z-index: 200;
    padding: 30px;

    transition: right 1s;
}

.small_menu .small_menu_close {
    position: absolute;
    right: 2rem;
    top: 1rem;
}


.small_menu .small_menu_close button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #9c9c9c;
    border: 1px solid #9c9c9c;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.small_menu_content .title {
    margin: 1rem 0 1.5rem 0;
}

.small_menu_content .title p {
    margin-bottom: 0;
}

.small_menu_content .package_list_menu .package_item {
    display: flex;
    margin-bottom: 1rem;;
}

.small_menu_content .package_list_menu .package_item img {
    width: 100px;
    height: 100px;
}

.package_list_menu .package_item .package_item_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.package_list_menu .package_item .package_item_content a:nth-child(2) {
    margin: 6px 0;
    color: var(--text-color-gray);
}

.package_list_menu .package_item .package_item_content a.price {
    background-image: var(--background-color);
    color: var(--white);
    padding:4px 15px;
    border-radius: 15px;
    font-size: 16px;
}

.small_menu_content .europe_package {
    position: relative;
}

.small_menu_content .europe_package::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( to bottom, rgba(101, 100, 96, 0) 0%, rgba(101, 100, 96, 0.1) 60%, rgba(101, 100, 96, 0.5) 100% );
    opacity: 1;
}

.small_menu_content .europe_package .europe_package_content {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--white);
   z-index: 5;
}

.small_menu_content .europe_package .europe_package_content img {
    width: 30px;
    height: 30px;
}

.small_menu_content .europe_package .blue_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s;
}

.small_menu_content .europe_package .blue_content a.package_btn_link {
    border-radius: 20px;
    padding: 5px 20px;
    background-color: var(--white-color);
    color: var(--blue-color);
}


.small_menu_content .europe_package .blue_content a {
    color: white;
}


.small_menu_content .europe_package:hover .blue_content {
    opacity: 1;

}







/* ----OVERLAY WEBSITE khi má»Ÿ menu RIGHT/ */
.overlay_website {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}